/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  /* max-width: 500px; */
  margin: 10px 30px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid #6c9e72c2;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.plant {
  background: #f8f8f8;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.plant:hover {
  background-color: #f8fdf8;
}

.plant.warning {
  border-left: 5px solid #eb7973;
}

.plant h3 {
  color: black;
}

.plant-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.plant p {
  color: #0e160fc2
}

.plant .issue {
  color: #dd2f26e5
}

.edit-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}